.container{
    margin-top: 8rem;
}
.child1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.design{
    color:rgb(198, 25, 16);
}
.text3{
    font-family:cursive;
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

