
.sidebar{
  top: 0;
  bottom: 0;
  left: 0;
  width: 26%;
  background-color: #326789;
  position: fixed;
  height: 100%;
  box-sizing: inherit;
 
  
}
.container1{
    text-align: center;
    
    
}


.image{
    height:50%;
    width:50%;
    margin-top: 3rem;
    border-radius: 7rem;
    filter: brightness(11rem);
    filter: contrast(11rem);
    filter: drop-shadow(0rem 0rem 0.3rem rgb(253, 247, 248));

}
.text1{
    margin-top: 1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:aliceblue;
    height: fit-content;
}
.space{
    margin-right: -2rem;
    margin:2rem
}

a{
    text-decoration: none;
    color:rgba(248, 246, 243, 0.932);
   

}
a:hover{
    color:#78A6C8;
    font-family: 'Times New Roman', Times, serif;   
}

.icons{
    margin-top:4%;
    text-align: center;
}
.icons1{
    padding:3%;
    
}

